{% extends 'base.html' %}
{% load static %}
{% block title %}
    О компании
{% endblock %}
{% block content %}
<main>
	<div class="hero-title d-flex align-items-center align-middle">
		<div class="container ">
			<h1>О компании</h1>
		</div>
	</div>
	<div class="container py-5">
		<h4>Главное требование к разделу «О компании» — сделать ее полезной для посетителей сайта. В этом поможет информация от целевой аудитории сайта
			и сотрудников, которые с ними общаются. Используйте факты,
			а не красивые слова. Расскажите на примерах, чем вы полезны посетителям сайта.</h4>
	</div>
	<div class="container">
		<div class="row py-5">
			<h2 class="section-title">Преимущества</h2>
			<div class="row d-flex justify-content-around flex-column flex-md-row align-items-center">
				<div class="col-12 col-md-4 text-center"><img src="{% static 'img/about-item.svg' %}" class="pt-4 w-75" alt=""></div>
				<div class="col-12  col-md-4 text-center"><img src="{% static 'img/about-item2.svg' %}" class="pt-4 w-75" alt=""></div>
				<div class="col-12 col-md-4 text-center"><img src="{% static 'img/about-item3.svg' %}" class="pt-4 w-75" alt=""></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row py-5">
			<h2 class="section-title mb-5">Cхема работы</h2>
			<div class="col-12 col-lg-4 mb-4 d-flex align-items-center">
				<img src="{% static 'img/medal1.svg' %}" class="me-4" alt="">
				<h5 class="fw-bold m-0">Вы заказываете</h5>
			</div>
			<div class="col-12 col-lg-4 mb-4 d-flex align-items-center">
				<img src="{% static 'img/medal2.svg' %}" class="me-4" alt="">
				<h5 class="fw-bold m-0">Мы доставляем <br>
					в удобное для вас время</h5>
			</div>
			<div class="col-12 col-lg-4 mb-4 d-flex align-items-center">
				<img src="{% static 'img/medal3.svg' %}" class="me-4" alt="">
				<h5 class="fw-bold m-0">Вы оплачиваете заказ <br>
					по факту доставки</h5>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row py-5">
			<h2 class="section-title mb-4">Контакты</h2>
			<div class="col-12 col-md-8 map-contacts mb-5">
				<iframe class="shadow"
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d626.7187944658907!2d74.49484566074254!3d42.86561106273517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ecf4a3d27ae79%3A0x357e1f64d663ba12!2zMTE5INCn0LDQv9Cw0LXQstCwLCDQkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1686473054731!5m2!1sru!2skg"
						style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="col-12 col-md-4">
				<span class="navbar-text fw-bold text-black">
					<p class="manropefamily m-0 mb-3">г. Бишкек ул. Чапаева 119</p>
					<p class="manropefamily m-0 mb-3"><i class="bi bi-whatsapp me-3"></i><a href="tel:996707100100">+996 707 100 100</a></p>
					<p class="manropefamily m-0 mb-3"><i class="bi bi-telegram me-3"></i><a href="tel:996707100100">+996 707 100 100</a></p>
					<p class="manropefamily m-0 mb-3"><i class="bi bi-envelope me-3"></i><a
							href="mailto:arion@gmail.com">arion@gmail.com</a></p>
					<p class="manropefamily m-0 mb-3">Режим работы с 8:00 до 20:00</p>
				</span>
			</div>
		</div>
	</div>
</main>
{% endblock %}
